<md-dialog style='width: 1000px; height: 800px' aria-label="{{name}}"  ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>{{name}}</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon aria-label="Close dialog">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="width:100%;height:100%;">
    <iframe style='width: 99.5%; height: 98.8%' ng-src="{{uri}}"></iframe>
  </md-dialog-content>
</md-dialog>